services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: log_handler
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      - PYTHONPATH=/app
    volumes:
      - ./:/app

  db:
    build:
      context: ./postgres
      dockerfile: Dockerfile
    container_name: db_log_handler
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
#    volumes:
#      - ./postgres/data:/data
    ports:
      - "5432:5432"


